*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a{
    color: inherit;
    text-decoration: none;
}
img{
    max-width: 100%;
}
.container-lg{
    max-width: 1348px;
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
}
.container{
    max-width: 1248px;
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
    font-weight: bolder;
}

.text-lg{
    font-size: 48px;
    font-weight: 700;
}
.text-md{
    font-size: 28px;
    font-weight: 500;
}
.text-sm{
    font-size: 16px;
    font-weight: 500;
}


// body{
//     min-height: 500vh;
// }
button{
    cursor: pointer;
}